<section>
  <div class="item">{{toggleOptAnimation('0', '1')}}</div>
  <div class="item">{{toggleOptAnimation('0', '1')}}</div>
  <div class="item">{{toggleOptAnimation('0', '1')}}</div>
  <div class="item">{{toggleOptAnimation('0', '2')}}</div>
  <div class="item">{{toggleOptAnimation('0', '2')}}</div>
  <div class="item">{{toggleOptAnimation('0', '2')}}</div>
  <div class="item">{{toggleOptAnimation('0', '3')}}</div>
  <div class="item">{{toggleOptAnimation('0', '3')}}</div>
  <div class="item">{{toggleOptAnimation('0', '3')}}</div>
</section>
