::ng-deep{
  input{
    font-size: 2em;

    &.ng-dirty.ng-invalid{
      border: 2px solid red;
    }
  }
}

.book-form{
  &.ng-invalid{
    .submit-button{
      background-color: red;
    }
  }

  &.ng-valid{
    .submit-button{
      background-color: green;
    }
  }

  .submit-button{
    font-size: 1.5em;
    margin: 20px 0;
  }
}
